@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*header*/
.container-header{
    background-color: #5D04D9;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0px 8px 8px #888;
}
.container-header h1{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    align-self: center;
}
.container-header span{
    color: rgb(255, 102, 0);
}
/*main*/
.container-main{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    /* background-color: green; */
    flex-direction:row;

}
/*seccion de productos*/
.mis-productos{
    /* margin-top: 50px; */
    /* background-color: aqua; */
    width: 55%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

}
.mis-productos h1{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    align-self: center;
    padding: 10px;
}

.producto-container{
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    height: auto;
    box-shadow: -8px 8px 8px #888;
    overflow-x: scroll;
    display: flex;
    justify-content:space-around
}
/* .producto-container::-webkit-scrollbar{
    /* display: none; */
    /* color:  red; 
    }
    */

.card{
    background-color: #03318c;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius:10px ;
    border: solid 3px;
    margin-right: 20px;

}
.img-producto{
    width: 178px;
    height: 174px;
    border: solid 3px;
    border-radius: 10px;

}
.card-container--info p{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
}
.card-container--value{
    display: flex;
    justify-content: space-between;
}
.card-container--value p{
    font-weight: bold;
}
/*seccion agregar producto*/
.agregar-producto{
    /* background-color: red; */
    width: 35%;
    height: 517px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.agregar-producto h1{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    align-self: center;
}
/*formulario*/
.form-agregar-producto{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input-form{
    margin: 20px;
    border-radius: 30px;
    border:solid #03318c;
    height: 58px;
    width: 90%;
}

.input-form::placeholder{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    color: #03318c;
}
.button-container{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.button-form{
    width: 188px;
    height: 55px;
    border-radius: 15px;
    /* border-color: #03318c; */
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;

}
.button-form-enviar{
    background-color: #03318c;
    color: #fff;
    border: #03318c;
}
.button-form-limpiar{
    background-color: #fff;
    color: #03318c;
    border: solid #03318c;
}
/*footer*/
.container-footer{
    background-color: #5D04D9;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

}
.container-footer-logo{
    
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 8px 8px #888; */
    /* background-color: red; */
}
.container-footer-logo h1{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    align-self: center;
}
/* .container-footer span{
    color: rgb(255, 102, 0);
} */
.info-personal{
    text-align: center;
    align-items: center;
}
.info-personal p{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
}
.delete-button{
    background-color: #03318c;
    border: none;
}